.form {
    display: none;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 2rem;
    border: .1rem solid var(--header-color);
}

.form header {
    display: flex;
    justify-content: space-between;
}

.form header .btn {
    min-width: 2.5rem;
    font-size: 1.3rem;
    background-color: var(--main-color);
    border: .1rem solid var(--header-color);
}

.form header .btn i {
    padding: 0;
    margin: 0;
}

.form header .btn:hover {
    background-color: var(--header-color);
}

.form header .btn:hover i {
    color: var(--main-color);
}

.form form {
    padding: 1rem;
}

.form label {
    display: block;
    width: 100%;
    text-align: right;
}

.form label i {
    margin-left: .5rem;
}

.form input,
.form select {
    border: .1rem solid var(--hover-color);
    width: 100%;
    margin: .5rem 0 1.2rem;
}

.content table .update-td {
    display: none;
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
}

.content table .update-td header {
    display: flex;
    justify-content: space-between;
}

.content table .update-td header .btn {
    background-color: var(--main-color);
    border: .1rem solid var(--header-color);
    text-align: center;
}

.content table .update-td header .btn:hover {
    background-color: var(--header-color);
}

.content table .update-td header .btn i {
    margin: 0;
    padding: 0
}

.content table .update-td header .btn:hover i {
    color: var(--main-color);
}

@media (max-width: 768px) {
    table thead {
        display: none;
    }

    table tbody tr {
        display: flex;
        flex-direction: column;
        border-bottom: .1rem solid var(--header-color);
    }

    table tbody tr td {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}