.request-shipment {
    padding: 1rem 5%;
}

.request-shipment header i {
    color: var(--header-color);
}

.request-shipment .steps ol {
    font-size: 2rem;
    gap: 6rem;
    justify-content: center;
}

.request-shipment .steps ol li {
    border: .1rem solid var(--header-color);
    color: var(--header-color);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    position: relative;
}

.request-shipment .steps ol .active {
    background-color: var(--header-color);
    color: var(--main-color);
}

.request-shipment .steps ol li:not(.request-shipment .steps ol li:last-child):after {
    content: "";
    width: 5.6rem;
    height: 1rem;
    border: .15rem solid;
    border-color: var(--header-color) transparent transparent transparent;
    position: absolute;
    top: 50%;
    left: -6rem;
}

.request-shipment form {
    width: 80%;
    margin: 0 auto;
}

.request-shipment form > section {
    border: .1rem solid var(--header-color);
    padding: 1rem 2rem;
    margin: 3rem 0;
    display: none;
}

.request-shipment form > section.active {
    display: block;
}

.request-shipment form > section header {
    margin: 0rem auto;
    font-size: 2rem;
}

.request-shipment form label {
    display: block;
}

.request-shipment form label i {
    margin-left: .3rem;
}

.request-shipment form input,
.request-shipment form textarea,
.request-shipment form select {
    width: 100%;
    border: .1rem solid var(--hover-color);
    margin-bottom: 1rem;
}

.request-shipment form input[type = "submit"] {
    border: none;
    margin-top: 2rem;
}

.request-shipment .switch-steps {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    color: var(--header-color);
}

.request-shipment .switch-steps section {
    width: 6rem;
    height: 6rem;
    border: .1rem solid var(--header-color);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.request-shipment .switch-steps section:hover {
    background-color: var(--header-color);
    color: var(--main-color);
}

@media (max-width: 992px) {
    .request-shipment .steps {
        margin: 4rem 0;
    }

    .request-shipment form {
        width: 100%;
    }

    .request-shipment form > section header {
        text-align: center;
        margin-bottom: 2rem;
    }
}