body {
    background-image: none;
}

.content table {
    width: 90%;
    margin: 2rem auto;
    border: .1rem solid var(--header-color);
}


.content thead {
    background-color: var(--header-color);
    color: var(--main-color);
}

.content thead th {
    padding: .8rem 2rem;
}

table tbody tr {
    display: flex;
}

.content tbody tr th,
.content tbody tr td {
    padding: 1rem;
    border: .1rem solid var(--hover-color);
}

.content tbody tr th {
    width: 30%;
    color: var(--header-color);
}

.content tbody tr td {
    width: 70%
}

.content table tbody td.city {
    display: flex;
    align-items: center;
}

.content table tbody td.city p {
    width: 20%;
    text-align: center;
}

.content table tbody td.city div {
    width: 80%;
    text-align: center;
}

.content table tbody td.city iframe {
    width: 100%;
}

.content table tbody img {
    width: 10rem;
}

.update {
    padding: 1rem 2rem;
}

.update form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.update form div label {
    display: block;
}

.update select {
    border: .1rem solid var(--hover-color);
    width: 100%;
}

.update .btn-container {
    grid-column: span 2;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    table tbody tr {
        flex-direction: column;
        text-align: center;
    }

    .content table tr th,
    .content table tbody tr td {
        width: 100%;
    }

    .content table tbody tr th {
        color: var(--header-color);
    }
}