body {
    background-image: none;
}

.shipment header {
    display: flex;
    justify-content: space-between;
}

.shipment header .btn-container .btn {
    font-size: 1.1rem;
    border: .1rem solid var(--header-color);
    background-color: var(--main-color);
    min-width: 2.8rem;
    min-height: 2.8rem;
    align-items: center;
}

.shipment header .btn-container .btn:hover {
    border: .1rem solid var(--main-color);
    background-color: var(--header-color);
    color: var(--main-color);
}

.shipment header i {
    margin: 0;
}

.shipment header .btn-container .btn:hover i {
    color: var(--main-color);
}

.content table {
    width: 90%;
    margin: 2rem auto;
    border: .1rem solid var(--header-color);
}


.content thead {
    background-color: var(--header-color);
    color: var(--main-color);
}

.content thead th {
    padding: .8rem 2rem;
}

table tbody tr {
}

.content tbody tr th,
.content tbody tr td {
    padding: 1rem;
    border: .1rem solid var(--hover-color);
}

/* .content tbody tr th {
    width: 30%;
    color: var(--header-color);
}

.content tbody tr td {
    width: 70%;
    height: 100%;
} */

.content table tbody td.city {
    display: flex;
    align-items: center;
}

.content table tbody td.city p {
    width: 20%;
    text-align: center;
}

.content table tbody td.city div {
    width: 80%;
    text-align: center;
}

.content table tbody td.city iframe {
    width: 100%;
}

.content table tbody img {
    width: 10rem;
}

.content table tbody .btn-container {
    flex-direction: row;
    gap: 1rem;
}

.content table tbody .btn-container .btn {
    min-width: 2rem;
    min-height: 2rem;
}

.update {
    padding: 1rem 2rem;
}

.update form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.update form div label {
    display: block;
}

.update select {
    border: .1rem solid var(--hover-color);
    width: 100%;
}

.update .btn-container {
    grid-column: span 2;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    table tbody tr {
        flex-direction: column;
        text-align: center;
    }

    .content table tbody tr {
        border-bottom: .13rem solid var(--header-color);
    }

    .content table tr th,
    .content table tbody tr td {
        width: 100%;
    }

    .content table tbody tr th {
        color: var(--header-color);
    }
}